<form>
  <div class="form-row">

    <div class="col-sm-12 col-md-4">
      <label for="companyName">Company Name</label>
      <input type="text" name="companyName" class="form-control" placeholder="Company Name" />
    </div>

    <div class="col-sm-12 col-md-4">
      <label for="location">Location</label>
      <input type="text" name="location" class="form-control" placeholder="Location" />
    </div>

    <div class="col-sm-12 col-md-4">
        <label for="pay">Pay</label>
        <input type="text" name="pay" class="form-control" placeholder="Pay" />
      </div>
  </div>

  <div class="form-row">

    <div class="col-sm-12 col-md-3">
      <label for="status">Status</label>
      <select name="status" class="form-control">
          <option value="-1">Select Status</option>
        <option>Applied</option>
        <option>Phone Interview</option>
        <option>Face 2 Face Interview</option>
        <option>Waiting</option>
        <option>Rejected</option>
      </select>
    </div>

    <div class="form-check col-sm-12 col-md-6">
        <label class="form-check-label" style="margin-top: 2rem;">
              <input class="form-check-input" name="isRecruiter" type="checkbox"/>
            Recruiter
          </label>
      </div>

  </div>



  <div class="form-row">
    <div class="col-sm-12 col-md-6">
      <label for="recruiterName">Recruiter Name</label>
      <input type="text" name="recruiterName" class="form-control" placeholder="Name">
    </div>
    <div class="col-sm-12 col-md-6">
      <label for="recruiterCompany">Recruiter Company</label>
      <input type="text" name="recruiterCompany" class="form-control" placeholder="Company">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="comments">Comments</label>
      <textarea type="text" name="comments" class="form-control" placeholder="Comments"></textarea>
    </div>
  </div>
</form>
